body {
  min-width: 320px;
}

textarea {
  resize: none !important;
}

.stickyButton {
  position: fixed;
  right: 10%;
  bottom: 10%;
  border-radius: 100% !important;
  width: 65px;
  height: 65px;
}

.searchBar {
  background: url(icons/search.png) no-repeat scroll 15px 10px;
  padding-left: 30px;
}
