:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

a {
  text-decoration: none;
  color: black !important;
}

a:hover {
  text-decoration: none !important;
}

body {
  min-width: 320px;
}

textarea {
  resize: none !important;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
}

.c-mh-100{
  overflow-y: auto;
  max-height: 100%;
}


.c-vp-height {

  height: 100vh;
}

.cstickyButton,
.cstickyButton active {
  position: fixed;
  right: 10%;
  bottom: 13%;
  border-radius: 100% !important;
  width: 65px;
  height: 65px;
}

.searchBar {
  background: url(assets/icons/search.png) no-repeat scroll 15px 10px;
  padding-left: 30px;
}

.cfs-20 {
  font-size: 20px;
}

.cfs-30 {
  font-size: 30px
}

.cfs-small {
  font-size: 12px;
}

.cfs-gigantic {
  font-size: 2.5rem;
}

.cfw-bolder {
  font-weight: 900 !important;
}

.cfc-gray {

  color: gray;
}

.c-rgap-20 {
  gap: 20px;
}

.croundCorners {
  border-radius: 15px !important;
}

.croundSides {
  border-radius: 18px !important;
}

.croundBottom {
  border-radius: 0 0 15px 15px !important;
}

.cnoBorder {
  border-width: 0 !important;
}

.csidebarTweet {
  border-radius: 100% !important;
  width: 55px;
  height: 55px;
}

.ctweetMessage {
  white-space: normal;
  word-break: break-all;
  overflow-wrap: anywhere;
}

.ctweetAttach {
  max-width: 100%;
}

.chover_darken:hover {
  background-color: lightgray;
}

.cpointer {
  cursor: pointer;
}

.cnoBorder {
  border-width: 0;
  border-radius: 100%;
}

.cutitilyBarDisable:disabled+label {
  opacity: 0.5;
}

.cpollForm {
  border: 1px solid lightgrey;
  border-radius: 1em;
  padding: 1em;
}

input[type="file"] {
  display: none;
}

.cremoveAttach {
  position: absolute;

  left: 5px;
  margin-top: 5px;
  padding: 5px 10px;

  border-width: 0;
  border-radius: 100%;

  color: white;
  background-color: black;

  font-weight: 800;
}

.cBold {
  font-weight: 800;
}

.cfontSmall {
  font-size: small;
}

.cAbsolute {
  position: absolute;
}

.errorBox {

  border: dashed 1px red;
  color: red;

  padding: 2px;
  margin-top: 25px;
}

.selectedBG {
  background-color: lightblue;
}

.loginMainContainer {

  min-height: 400px;

  display: flex;
  flex-direction: column;
  row-gap: 32px;

}

.loginPageButton {
  width: 280px;
}

.loginLogo {
  width: 55px;
}


.backgroundImg {
  max-height: 200px;
  width: 100%;
}

.avatarContext-default {
  width: 50px;
  height: 50px;
}

.avatarContext-leftBar {
  width: 45px;
  height: 45px;
}

.avatarContext-feedNavBar {
  width: 40px;
  height: 40px;
}

.avatarContext-retweet {
  width: 15px;
  height: 15px;
}

.avatarContext-userProfile {
  margin-top: -45px;
  width: 90px;
  height: 90px;
  border: solid 3px white;
}

.avatarAndEditProfileContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.avatarContainer {
  margin-top: -45px;
}

.avatarBorder {
  border: solid 3px white
}


.profileInfo {
  margin-top: 15px;
  padding: 0 25px;
}

@media (min-width: 576px) {



  .avatarContext-userProfile {
    margin-top: -60px;
    width: 120px;
    height: 120px;

  }

}


@media (min-width: 768px) {

  .avatarAndEditProfileContainer {

    padding: 0 30px;
  }

  .avatarContext-userProfile {
    margin-top: -70px;
    width: 140px;
    height: 140px;

  }

}

@media (min-width: 992px) {

  .csidebarTweet {
    border-radius: 18px !important;
    width: 100%;
    height: auto;
  }

  .loginPage {
    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 20%;
  }

  .cfs-gigantic {
    font-size: 3.5rem;
  }

  .loginLogo {
    width: 450px;
  }
}