:root {
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

body {
  min-width: 320px;
}

textarea {
  resize: none !important;
}

.c-vp-height {
  height: 100vh;
}

.cstickyButton,
.cstickyButton active {
  position: fixed;
  right: 10%;
  bottom: 13%;
  border-radius: 100% !important;
  width: 65px;
  height: 65px;
}

.searchBar {
  background: url(icons/search.png) no-repeat scroll 15px 10px;
  padding-left: 30px;
}

.cfs-small {
  font-size: 12px;
}

.cfw-bolder {
  font-weight: 900;
}

.croundCorners {
  border-radius: 15px !important;
}

.croundSides {
  border-radius: 18px !important;
}

.croundBottom {
  border-radius: 0 0 15px 15px !important;
}

.cnoBorder {
  border-width: 0 !important;
}

.csidebarTweet {
  border-radius: 100% !important;
  width: 55px;
  height: 55px;
}

.ctweetMessage{
  white-space: normal;
  word-break: break-all;
  overflow-wrap: anywhere;
}

.ctweetAttach{
  max-width: 100%;
}

.cpointer{
  cursor: pointer;
}

.cnoBorder{

  border-width: 0;
  border-radius: 100%;
}

.cutitilyBarDisable:disabled+label {

  opacity: 0.5;

}

.cpollForm {
  border: 1px solid lightgrey;
  border-radius: 1em;
  padding: 1.5em;
  
}

input[type="file"] {
  display: none;
}

.cremoveAttach {
  position:absolute;
  
  left: 5px;
  margin-top: 5px;
  padding: 5px 10px;

  border-width: 0;
  border-radius: 100%;

  color: white;
  background-color: black;

  font-weight: 800;  
}

@media (min-width: 992px) {
  .csidebarTweet {
    border-radius: 18px !important;
    width: 100%;
    height: auto;
  }
}
